header {
  h1 {
    font-size: 10rem;

    span {
      margin: 0 -0.70rem;
      opacity: 0.75;
      text-transform: lowercase;
      @include margin-transition;
    }

    @for $i from 1 through length($colors) {
      span:nth-child(#{$i}) {
        color: nth($colors, $i);
      }
    }

    &:hover {
      cursor: default;
      span {
        @include hover-margin-reset;
      }
    }
  }
}

@media screen and (max-width: 768px){
  header {
    h1 {
      font-size: 5rem;

      span {
        margin: 0 -0.25rem;
      }
    }
  }
}

@media screen and (min-width: 768px){
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}