.container {
  background-color: #FFF;
  border-radius: .25rem;
  box-shadow: 0 0 10px $french-gray;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  padding: 1rem;
  max-width: 1200px;
}