

$colors: $rose, $orange, $tangerine, $yellow, $lime, $cyan-dark, $blue, $indigo, $violet, $purple;

#header {
  h1 {
    #title {
      font-size: 10rem;
  
      @for $i from 1 through length($colors) {
        span:nth-child(#{$i}) {
          color: nth($colors, $i);
        }
      }
  
      span {
        margin: -1rem;
        opacity: 0.5;
      }
  
      span:last-child {
        margin-left: 1.5rem;
      }

      &.expand-on-hover {
        span {
          transition: all 0.3s ease-in-out; /* vendorless fallback */
          -o-transition: all 0.3s ease-in-out; /* opera */
          -ms-transition: all 0.3s ease-in-out; /* IE 10 */
          -moz-transition: all 0.3s ease-in-out; /* Firefox */
          -webkit-transition: all 0.3s ease-in-out; /*safari and chrome */
        }
      }
    
      &.expand-on-hover:hover {
        cursor: default;
        span {
          margin: 0;
        }
      }
    }

    .surtitle {
      margin-bottom: -2rem;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.15rem;
    }

    &:hover {
      cursor: default;
    }
  }
}



@media screen and (max-width: 768px) {
  #header {
    h1 {
      #title {
        font-size: 4rem;
        margin-bottom: 0.5rem;
  
        span {
          margin: -0.5rem;
        }
  
        span:last-child {
          margin-left: 1rem;
        }
      }

      .surtitle {
        margin-bottom: -1rem;
        font-size: 0.75rem;
      }
    }
  }
}