.header-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: $title-size;
  margin: 0;
  padding-top: 3rem;
}

.section-title {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 2rem;
  margin-bottom: 0;
  text-transform: lowercase;
}

.section-title::after {
  content: '.'
}