// Purples
/* SCSS RGB */
$rose: rgba(254, 1, 128, 1);
$amber: rgba(254, 191, 1, 1);
$lemon: rgba(250, 245, 4, 1);
$chartreuse-web: rgba(128, 255, 0, 1);
$aqua: rgba(1, 255, 254, 1);
$azure: rgba(0, 128, 255, 1);
$charcoal: rgba(64, 70, 75, 1);

// Monochrome
$black: #000;
$dark_gray: #5d5d5d;
$white: #FFF;
