$carnation-pink: #ff7eb9;
$wisteria: #a291fb;
$blue-jeans: #5f9cfb;
$medium-turquoise: #4cd3c2;
$light-green: #8bc34a;
$yellow: #fde07e;
$fawn: #f6a961;
$tomato: #ff6347;

$colors: $carnation-pink, $wisteria, $blue-jeans, $medium-turquoise, $light-green, $yellow, $fawn, $tomato;