$carnation-pink: #ff7eb9;
$wisteria: #a291fb;
$blue-jeans: #5f9cfb;
$medium-turquoise: #4cd3c2;
$light-green: #8bc34a;
$yellow: #fde07e;
$fawn: #f6a961;
$tomato: #ff6347;

$colors: $carnation-pink, $wisteria, $blue-jeans, $medium-turquoise, $light-green, $yellow, $fawn, $tomato;

$eerie-black: rgba(33, 37, 41, 1);
$onyx: rgba(52, 58, 64, 1);
$outer-space: rgba(73, 80, 87, 1);
$slate-gray: rgba(108, 117, 125, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$french-gray: rgba(206, 212, 218, 1);
$seasalt: rgba(248, 249, 250, 1);
$antiflash-white: rgba(233, 236, 239, 1);
$platinum: rgba(222, 226, 230, 1);
$white: rgba(255, 255, 255, 1);