@mixin transition {
  transition-duration: 500ms;
  transition-property: all;
}

@mixin margin-transition {
  transition-duration: 500ms;
  transition-property: margin;
}

@mixin hover-margin-reset {
  &:hover {
    cursor: default;
    margin: 1.5rem;
  }
}