$rose: #ff0080;
$rose-light: #ff80bf;
$rose-dark: #c60063;
$orange: #ff5f40;
$orange-light: #ff8e6e;
$orange-dark: #c63d2b;
$tangerine: #ffbf00;
$tangerine-light: #ffcc40;
$tangerine-dark: #c68c00;
$yellow: #fbf404;
$yellow-light: #fff04d;
$yellow-dark: #c6c600;
$lime: #80ff00;
$lime-light: #bfff40;
$lime-dark: #63c600;
$aqua: #38ff8f;
$aqua-light: #6affb8;
$aqua-dark: #2bc67a;
$cyan: #00ffff;
$cyan-light: #40ffff;
$cyan-dark: #00c6c6;
$blue: #00bfff;
$blue-light: #40dfff;
$blue-dark: #0080c6;
$indigo: #0087ff;
$indigo-light: #40a3ff;
$indigo-dark: #005ac6;
$violet: #7a00ff;
$violet-light: #a340ff;
$violet-dark: #5a00c6;
$purple: #bf00ff;
$purple-light: #d940ff;
$purple-dark: #8c00c6;

$eerie-black: rgba(33, 37, 41, 1);
$onyx: rgba(52, 58, 64, 1);
$outer-space: rgba(73, 80, 87, 1);
$slate-gray: rgba(108, 117, 125, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$french-gray: rgba(206, 212, 218, 1);
$seasalt: rgba(248, 249, 250, 1);
$antiflash-white: rgba(233, 236, 239, 1);
$platinum: rgba(222, 226, 230, 1);
$white: rgba(255, 255, 255, 1);