// Color Palette
$flickr-pink: #F72585;
$byzantine: #B5179E;
$purple1: #7209B7;
$purple2: #560BAD;
$trypan-blue1: #480CA8;
$trypan-blue2: #3A0CA3;
$persian-blue: #3F37C9;
$ultramarine: #4361EE;
$dodger-blue: #4895EF;
$vivid-sky: #4CC9F0;
$white: #FFF;

$text: #444;

// Navigation Colors
$nav-link: $purple2;

// Dimensions
$max: 800px;
$min: 500px;