@import '_base';

.about_container {

  .intro {
    text-align: center;

    h2 {
      font-size: 22px;
      font-weight: 500;
      margin: 0;
    }
  }

  h1 {
    font-size: 1.5em;
    margin: 0;
  }

  @media (max-width: $min) {
    margin: 0 25px;
  }

  .bio {
    h2 {
      margin: 0;
    }
  }

  .site {
    h2 {
      font-size: 20px;
      margin: 25px 0 0 0;
    }

    p {
      font-size: 15px;
      margin: 0;

      a {
        font-weight: 400;
        text-decoration: underline!important;
      }

      a:visited {
        text-decoration: underline!important;
      }
    }
  }

  .writing {
    display: flex;
    flex-direction: column;
  }
} 