@import '_base';

.nav_container {
  margin: 15px 0;

  a {
    border-radius: 15px;
    color: $nav-link;
    font-weight: 700;
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
  }
}

.selected {
  background-color: $nav-link;
  color: $white!important;
} 