@import '_base';

.spec_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    margin: 0 10px;
  }

  img {
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  @media (max-width: $min) {
    flex-direction: column;
    margin: 0 25px;
  }
} 