body {
  background-color: #06011F;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto; }
  body a {
    color: #edf7f9;
    text-decoration: none; }
  body a:hover {
    color: #00bcd4; }
  body a:active {
    color: #00bcd4; }

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; }

#volunteer-prompt {
  background-color: #ffffff;
  border: 10px solid #673ab7;
  border-radius: 25px;
  color: #444444;
  text-align: center; }
  #volunteer-prompt #text-container {
    border: 5px solid #673ab7;
    border-radius: 15px;
    margin: 5px;
    padding: 10px; }
  #volunteer-prompt #promt-btns {
    margin: 15px 0; }
    #volunteer-prompt #promt-btns input {
      border: 3px solid #673ab7;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 500;
      height: 3em;
      width: 8em; }
    #volunteer-prompt #promt-btns input:focus {
      outline: 0; }
    #volunteer-prompt #promt-btns input:hover {
      background-color: #eee7f9; }
    #volunteer-prompt #promt-btns input:active {
      background-color: #eee7f9;
      border: 5px solid #673ab7;
      border-radius: 5px; }

#home-btn-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; }
  #home-btn-container .btn {
    border-radius: 15px;
    color: #444444;
    display: inline-block;
    margin: 15px auto;
    padding: 15px;
    width: 80%;
    font-size: 20px;
    font-weight: 500; }
  #home-btn-container .btn:focus {
    outline: 0; }
  #home-btn-container .btn:hover {
    background-color: #eee7f9; }
  #home-btn-container .btn:active {
    background-color: #eee7f9;
    border: 5px solid #673ab7; }

.req {
  font-size: 24px; }

#review-info-container {
  width: 35%; }
  #review-info-container .info-check-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  #review-info-container .info-check-container {
    margin: 5px 0; }
  #review-info-container .review-label {
    font-weight: 550;
    margin: 0 15px 0 0; }
  #review-info-container #notes {
    flex-direction: column;
    margin: 10px 0; }
    #review-info-container #notes .review-answer {
      margin: 10px 0; }
  #review-info-container .btn-container {
    display: flex;
    justify-content: space-around;
    margin: 10px 0; }
    #review-info-container .btn-container input {
      border: 1px solid #444444;
      font-size: 12px;
      font-weight: 500;
      height: 3em;
      width: 8em; }
    #review-info-container .btn-container input:focus {
      outline: 0; }
    #review-info-container .btn-container input:hover {
      background-color: #eee7f9; }
    #review-info-container .btn-container input:active {
      background-color: #eee7f9;
      border: 5px solid #673ab7; }

#volunteer-form-container {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 525;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; }
  #volunteer-form-container #btn-container {
    display: flex;
    justify-content: center; }
  #volunteer-form-container form {
    margin: 0 0 25px 0; }
  #volunteer-form-container .form-notes {
    height: 4em; }
  #volunteer-form-container .form-submit {
    margin: 15px auto;
    width: 30%; }
  #volunteer-form-container .form-subtext {
    font-size: 14px;
    margin: 0 0 8px 0; }
  #volunteer-form-container .info-req {
    font-weight: 550; }
  #volunteer-form-container input {
    font-size: 1em;
    height: 1.5em;
    margin: 0 0 1.5em 0;
    width: 70%; }
